@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';

.editor {
  position: absolute;
  top: 7em;
  bottom: 0;
  left: 1em;
  width: calc(100% - 2em);

  @include screen-and-up(small) {
    top: 6em;
  }

  @include screen-and-up(medium) {
    left: calc(calc(100% - 46em) / 2);
    width: 46em;
  }
}

.status {
  color: var(--color-quiet);
  font-size: var(--text-font-size-xsmall);
}

.title {
  width: 100%;
  font-size: var(--text-font-size-super);
  font-family: var(--text-font-family-serif);
  border: none;
  border-bottom: 2px solid var(--color-dark);
  border-radius: 0;
  appearance: none;

  &:focus {
    border-bottom-color: var(--color-brand);
    outline: none;
  }
}

.status,
.title {
  padding: var(--spacing-tiny) 0;
}

.body {
  position: absolute;
  top: 3.8em;
  bottom: 2.5em;
  left: 0;
  display: block;
  width: 100%;
  margin: var(--spacing-medium) 0 0 0;
  padding: 0.5em 0 2em 0;
  overflow: auto;
  font-size: var(--text-font-size-medium);
  font-family: var(--text-font-family-serif);
  border: 0;
  border-radius: 0;
  outline: none;
  box-shadow: 0 1px 1px -1px var(--color-brand);
  appearance: none;
  resize: none;
  -webkit-overflow-scrolling: touch;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 1em;
  color: var(--color-brand);
  font-size: var(--text-font-size-small);
  text-decoration: none;
  background: none;
  border: 0;
  outline: none;

  &:focus,
  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.preview {
  right: auto;
  left: 0;
}

.toolbar {
  position: absolute;
  right: 0;
  bottom: 2.5em;
  width: 260px;
  padding: 1em 0.5em;
  color: var(--color-link);
  text-align: left;
  background-color: #fff;
  border-radius: 6px 0 0 0;
  box-shadow: -3px -3px 6px -6px var(--color-brand);

  .action {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75em;
    overflow: hidden;
    color: var(--color-brand);
    font-size: var(--text-font-size-small);
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    background: none;
    border: 0;
    outline: none;

    &:focus,
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  .link {
    color: var(--color-link);
  }

  .share {
    display: inline-block;
    width: auto;
  }

  .twitter {
    color: #00aced;
  }

  .facebook {
    color: #3b5998;
  }

  .delete {
    color: var(--color-error);
  }
}
