h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.1em 1.1em 0.2em 0.3em;
  font-size: 1.4em;
  font-family: var(--text-font-family-serif);
  font-weight: 400;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
  line-height: 1.55;
  overflow: hidden;

  .cursor {
    position: absolute;
    height: 0.8em;
    width: 0.4em;
    background-color: var(--color-brand);
    top: 0.5em;
    right: 0.4em;
  }

  span {
    opacity: 1;
  }
}

h1.animated {
  .cursor {
    opacity: 0;
    animation-name: cursor;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
    animation-delay: 1.4s;

    @keyframes cursor {
      0% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  @for $i from 1 to 6 {
    span:nth-child(#{$i}) {
      opacity: 0;
      animation-name: typing;
      animation-fill-mode: forwards;
      animation-delay: 0.2s * $i;
      animation-duration: 0.2s;
    }
  }

  @keyframes typing {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
