h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.1em 1.1em 0.2em 0.3em;
  font-size: 1.4em;
  font-family: var(--text-font-family-serif);
  font-weight: 400;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
  line-height: 1.55;

  &:after {
    content: '';
    position: absolute;
    height: 0.8em;
    width: 0.4em;
    background-color: var(--color-brand);
    top: 0.5em;
    right: 0.4em;
  }
}
