.document-list {
  --grid-gutter: 0.4em;

  a {
    color: inherit;
    text-decoration: none;
  }

  .doc {
    display: block;
    margin: var(--grid-gutter) 0;
    padding: var(--spacing-small);
    color: var(--color-brand);
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: 0 7px 7px -7px var(--color-default);
    transform: scale(1);
    cursor: pointer;
    transition: color linear 0.2s, box-shadow linear 0.2s;

    &:hover,
    &:focus {
      box-shadow: 0 7px 7px -7px var(--color-brand);
    }
  }

  .doc:not(.create) {
    animation: scaleIn linear 0.2s;
  }

  @keyframes scaleIn {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  .create {
    color: var(--color-success);
    font-family: var(--text-font-family-serif);

    &:hover,
    &:focus {
      box-shadow: 0 7px 7px -7px var(--color-success);
    }
  }

  .title {
    padding: var(--spacing-small) 0;
    overflow: hidden;
    font-family: var(--text-font-family-serif);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .public {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin-right: 0.3em;
    padding: 0.2em;
    background-color: var(--color-success);
    border-radius: 100%;
  }

  .body {
    height: 100px;
    margin: 0 var(--spacing-large) var(--spacing-large);
    padding: var(--spacing-small);
    overflow: hidden;
    font-size: calc(var(--text-font-size-medium) * 0.4);
    font-family: var(--text-font-family-serif);
    text-align: left;
    background: white;
    border-bottom: 1px solid var(--color-dark);
    border-radius: var(--border-radius);
  }

  button {
    display: block;
    width: 100%;
    color: var(--color-default);
    font-size: var(--text-font-size-small);
    text-align: center;
    background: none;
    border: 0;

    &:hover {
      color: var(--color-error);
    }
  }
}
